<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat-Da-Burger</title>
    <style>
        h1 {
            color: green;
            text-align: center;
        }

        #devoured {
            float: right;
            text-align: right;
        }

        #notDevoured {
            float: left;
            text-align: left;
        }

        img,
        textarea,
        #addBurger {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>

<body>

    <img src="https://images.unsplash.com/photo-1580423939196-b9c3854cad5d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjN8fGJ1cmdlcnN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt="Perfect Burger Image">
    <h1>Eat-Da-Burger</h1>
    {{{ body }}}
    <form>
        <textarea type="text" name="burgerType" id="burgerValue"></textarea>
        <button id="addBurger">Submit</button>
    </form>
</body>

<script type="text/javascript">

    console.log("js working")
    // targeting html submit button for textarea
    const createBurger = document.getElementById('addBurger')


    console.log(createBurger)


    // Set up the event listener for the create button
    createBurger.addEventListener('click', () => {
        event.preventDefault();
        let newBurger = document.getElementById("burgerValue").value;
        console.log(newBurger)
        // Grabs the value of the textarea that goes by the name, "plan"

    })


</script>

</html>