{{!-- <style media="screen">
    li {
        background-color: wheat;
        margin-bottom: 10px;
        padding: 10px;
        width: 50%;
        font-family: sans-serif;
    }
</style> --}}

{{!-- <h1>Lunches for {{eater}}</h1> --}}

<ul id="notDevoured">
    {{#each burgers }}
    <li>{{burger_name}} <button burgerid="{{id}}" class="devBurger">Devour</button> </li>
    {{/each}}
</ul>
<ul id="devoured">
    {{#each burgers1 }}
    <li>{{burger_name}} </li>
    {{/each}}
</ul>

<script type="text/javascript">

    // selecting devour button for JS functions
    const devourBtns = document.querySelectorAll('.devBurger')

    devourBtns.forEach(button => {
        button.addEventListener('click', (e) => {
            const id = e.target.getAttribute('burgerid')
            console.log("update plan id", id)


        })
    })
</script>